@model IEnumerable<ProjectApp.Models.Auctions.AuctionVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Active Auctions</h1>

<p>
    <a asp-action="Create">Create a new auction</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var auction in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => auction.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => auction.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => auction.startPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => auction.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => auction.expirationDate)
            </td>
            <td>
                @if(User.Identity.Name.Equals(auction.username))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = auction.Id }) <text> | </text>
                }
                @Html.ActionLink("Details", "Details", new { id = auction.Id })
                
                
            </td>
        </tr>
}
    </tbody>
</table>
